
<header>
  <h1>Movie Library</h1>
</header>

<section>
  <div *ngIf="!userLoginOn" >
    <a class="nav-link" routerLink="/login">SignIn</a>
   </div>
   <div *ngIf="userLoginOn">
    <a class="nav-link"routerLink="/login">SignOut</a>
   </div>
   
  <section class="container1, d-flex aling-item-center justify-content-center " >
    <form>
     <input type="text" placeholder="Búsqueda..." class="buscador" name="titleMovie" autofocus="autofocus"  >
     </form>
    </section>
  <section>
    <div class="selectors">
      <select id="gender">
        <option disabled selected hidden>Gender</option>
        <option value="Acción">Action</option>
        <option value="Comedia">Adventure</option>
        <option value="Drama">Drama</option>
        <option value="Animadas">Animation</option>
        <option value="Fantasia">Fantasy</option>
        <option value="Horror">Horror</option>
        <option value="Romance">Crime</option>
        <option value="Misterio">Mistery</option>
        <option value="Documental">Documentary</option>
        <option value="Familiar">Family</option>
        <option value="Historia">History</option>
        <option value="Musical">Music</option>
        <option value="Romances">Romance</option>
        <option value="Ciencia Ficcion">Science Fiction</option>
        <option value="Suspenso">Thriller</option>
        <option value="Peliculas de tv">TV Movie</option>
        <option value="Guerra">War</option>
        <option value="Occidental">Western</option>


      </select>
      <select id="popular">
        <option disabled selected hidden>Popular</option>
        <option value="semana">Week</option>
        <option value="mes">Month</option>
        <option value="todos">All</option>
      </select>
    </div>
  </section>
  
<app-movies></app-movies>