
.ng-valid:not(form).ng-touched{
    border-left:15px solid green;
}
.ng-invalid:not(form).ng-touched{
    border-left:15px solid red;
}


section{
    display:flex;
    justify-content:center;
    padding: 20px;
    
 
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px ;
    padding: 10px;
    background-color:#001C30;
    margin: 5px;
    border-radius: 5px;
    color:#DAFFFB;
    font-family:'Brush Script MT';
    font-size:xx-large;

}

form{
   
   width: 500px;
   height: 50px;
    margin:10px;
 

}

input{
    
    padding: 10px;
    background-color:#64CCC5;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
button{
    
    margin: 20px ;
    padding: 10px;
    background-color:#64CCC5;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;

}

