<section>
     <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

 </section>
<div>
<section class="cardDetail" *ngIf="selectMov !== null" style="width: 18rem;">
    <div class="movieCard">
        <img [src]="'https://image.tmdb.org/t/p/w500'" alt="Portada de la película">
      <div class="imgPresent"><img [src]="moviePoster" alt="Portada de película" *ngIf="selectMov !== null" class="imgPortada img-fluid selected-movie-poster"></div>
      <div class="card">
        <div class="title">{{selectMov !== null ? filterMov [selectMov]!.title : '' }}</div>
        <div class="votes"> <strong>&nbsp;&nbsp;<i class="fas fa-star star-icon"></i>&nbsp;&nbsp;{{ selectMov !== null ? filterMov[selectMov]!. vote_average : '' }}</strong>
          <br>
          {{ selectMov!== null ? filterMov[selectMov]!.vote_count: '' }} votos
        </div>
        <div class="genero"><p><strong>Genero: </strong>{{ selectMov !== null ? getGenderName(filterMov[selectMov]!.genre_id[0]) : '' }}
          <br>
          <strong>Estreno: </strong>{{ selectMov !== null ? filterMov[selectMov]!. realese_date : '' }}
          <br>
          <strong>Titulo original: </strong>{{ selectMov !== null ? filterMov[selectMov]!.original_title : '' }}
          <br>
          <strong>Idioma original: </strong>{{selectMov !== null ? filterMov[selectMov]!.original_language : '' }}</p>
        </div>
        <div class="sinopsis"><strong>Sinopsis: </strong>{{ selectMov !== null ? filterMov[selectMov]!.overview : '' }}</div>
      </div>
    </div>
  </section> 
  
  