
.content{
    margin: 20px ;
    padding: 10px;
    background-color:#64CCC5;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
   
}
h1{
    color:#DAFFFB;
    font-family:'Brush Script MT';
    font-size:xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}




