
.container{
    padding: 10px;
    background-color:#64CCC5;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
   
    
}
h1{
    color:#DAFFFB;
    font-family:'Brush Script MT';
    font-size:xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    color:aliceblue;
    font-size:large;
    margin: 5px;
}



