<header>
  <h1>Register Movie Library</h1>
</header>
<section>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div>
  <section class="container1, d-flex aling-item-center justify-content-center " >
  <button type="submit" class="btn btn-primary">Sign In</button>
   
 
</section>